// src/styles.scss

// mat.$red-palette
// mat.$pink-palette
// mat.$purple-palette
// mat.$deep-purple-palette
// mat.$indigo-palette
// mat.$blue-palette
// mat.$light-blue-palette
// mat.$cyan-palette
// mat.$teal-palette
// mat.$green-palette
// mat.$light-green-palette
// mat.$lime-palette
// mat.$yellow-palette
// mat.$amber-palette
// mat.$orange-palette
// mat.$deep-orange-palette
// mat.$brown-palette
// mat.$grey-palette
// mat.$blue-grey-palette

@use '@angular/material' as mat;

// Always include mat core once
@include mat.core();

// Define a light theme config (using M3 palettes)
$light-theme-config: (
    color: (
        theme-type: light,
        primary: mat.$azure-palette,
        secondary: mat.$blue-palette,
        tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
);

// Apply the light theme globally
html {
    @include mat.theme($light-theme-config);

    .offset-row {
        background-color: rgb(235, 235, 235);
        label {
            color: #000000;
        }
    }
    .even-row {
        background-color: rgb(245, 245, 245);
        label {
            color: #000000;
        }
    }
    .disable-row {
        background-color: rgb(244, 67, 64);
    }
    .checked-row {
        background-color: rgb(139, 195, 74);
    }
    .used-row {
        background-color: rgb(67, 131, 213);
    }
}

// Optional: dark theme config
$dark-theme-config: (
    color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        secondary: mat.$blue-palette,
        tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
);

// Apply dark theme when body has the class
body.dark-mode {
    @include mat.theme($dark-theme-config);
    --mat-sys-surface: #1f2022;

    .offset-row {
        background-color: rgb(87, 87, 87);
    }
    .even-row {
        background-color: rgb(97, 97, 97);
    }
    .disable-row {
        background-color: rgb(244, 67, 64);
    }
    .checked-row {
        background-color: rgb(139, 195, 74);
    }
    .used-row {
        background-color: rgb(67, 131, 213);
    }
}

// Global resets / framing
html,
body {
    height: 100%;
    margin: 0;
}
body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}
