@use '@angular/material' as mat;

.primary-toolbar {
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary),
        container-text-color: var(--mat-sys-on-primary),
        standard-height: 30px,
    ));
}

label {
    font-size: 14px;
}